body {
    font-family: Georgia, "Times New Roman", serif;
}

.prince-page {
    width: 500px;
    margin: 30px auto;
}

.book-image {
    width: 500px;
    display: block;
}

.prince-text {
    font-size: 18px;
    line-height: 1.1;
    margin-top: 5px;
    margin-bottom: 15px;
}

.orange-text {
    background-color: orange;
}

.red-text {
    color: red;
    font-weight: bold;
}

a {
    display: block;
    margin-top: 15px;
}